extends base

block content
  main.main
    .addReview-form
      h2.heading-secondary.ma-bt-lg Add Review
      input#userId.form-control(type='hidden', name='userId', value=userId)
      input#postId.form-control(type='hidden', name='postId', value=postId)
      form.form.form--addReview
        .form__group
          label.form__label(for='review') Description
          input#review.form__input(type='text', required)
        .form__group
          label.form__label(for='rating') Rating
          select#rating.form-select(aria-label='Default select example', style='background-color: #f2f2f2; color:inherit' required='').fs-4.p-4
            option(selected='').fs-3 Rating
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5

        .form__group
          button.btn.btn-success.mt-3.fs-4.p-3.text-capitalize(style='width: 100%') Add