extends base

block content
  main.main
    .createPost-form
      h2.heading-secondary.ma-bt-lg Edit Review
      input#reviewId.form-control(type='hidden', name='postId', value=reviewId)
      input#postid.form-control(type='hidden', name='postId', value=review.post)
      form.form.form--editReview
        .form__group
          input#review.form__input(type='text', value= `${review.review}`,required)
        select.form-select(aria-label='Default select example', style='background-color: #f2f2f2; color:inherit').fs-4.p-4
          option(selected='').fs-3 Open this select menu
          option(value='1') 1
          option(value='2') 2
          option(value='3') 3
          option(value='4') 4
          option(value='5') 5

        //- .form__group
        //-   label.form__label(for='rating') Rating
        //-   select#rating(name='rating' size='4', required)
        //-     option(value='1') 1
        //-     option(value='2') 2
        //-     option(value='3') 3
        //-     option(value='4') 4
        //-     option(value='5') 5

        .form__group
          button.btn.btn-success.mt-5.fs-3.p-3.text-capitalize Edit