extends base


block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Log into your account
      form.form.form--login
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn-success.mt-3.fs-4.p-3.text-capitalize(style='width: 100%') Login
          a.reset__password(href="/forgotPassword") Forget Password?
          a.google__login.g-signin2(href='api/users/auth/google') Sign In With Google



