extends base

block content
  .wrapper
    .container.d-flex.flex-coloumn.justify-content-center.allign-items-center
      .title.text-center.mb-5
        h1 What's your favorite?
        .chart-wrapper
          canvas#myChart
        .chart-wrapper
          canvas#myChart2